<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>


	<bean id="product1" class="com.kamesh.flipkart.ProductDetails">
		<property name="name"  value="iphone16"></property>
	</bean>


 	<bean id="order1" class="com.kamesh.flipkart.OrderDetails">
		<constructor-arg ref="product1"></constructor-arg>
	</bean>


	<bean id="order2" class="com.kamesh.flipkart.OrderDetails">
		<constructor-arg value="order111"></constructor-arg>
		<constructor-arg value="30000"></constructor-arg>
		<constructor-arg ref="product1"></constructor-arg>
	</bean>



</beans>